{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="box">
<form class="login-form" method="post">
    <section class="login-form-container" >
            <h1 class="text-center">Quantify skill by the evidence</h1>
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                    <form method="POST" action="">
                        {% csrf_token %}
                        
                          <span>Username: </span> <input type="text" name="username" placeholder="Username ..." class="form-control">
                          Password:  <input type="password" name="password" placeholder="Password ..." class="form-control">
                          <input type="submit" value="login" class="btn btn-secondary">
                          <p>Don't have an account? <a href="{% url 'register' %}" style="display:inline">Sign up</a></p>
                    </form>
                 </div>
             </div>
         </div>
       
    </section>
</form>
</div>
{% endblock %}
