{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<form class="login-form" method="post" style="margin-top:5%">
    <section class="login-form-container" >
            <h1 class="text-center">Quantify skill by the evidence</h1>
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                    <form method="POST" action="">
                        {% csrf_token %}
                          <input type="text" name="username" placeholder="Username ..." class="form-control">
                          <input type="password" name="password" placeholder="Password ..." class="form-control">
                          <input type="submit" value="Login">
                          <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                    </form>
                 </div>
             </div>
         </div>
       
    </section>
</form>
{% endblock %}
