{%extends "registration/base.html"%}
{% load bootstrap4 %}

{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}


{% block content %}
<div class="containerEl">
    <h1 class="text-center">Quantify skill by the evidence</h1>
            <form action="" class="signup-form" method="post">
                {% csrf_token %}
                 {% for field in form %}
                    <span style="margin:4px">{{ field.label }}:  {{ field }} </span>
                    
                 {% endfor %}
                 {{ form.errors }}
                 <p>Have an account? <a href="{% url 'login' %} ">Log in</a></p>
                 <input type="submit" name="submit" value="sign up" class="btn btn-secondary">
               
            </form>

</div>


{% endblock %}
