{%extends "app/base.html"%}
{% load bootstrap4 %}
{% load static %}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

    <h1 class="text-center">Quantify skill by the evidence</h1>
    <div class="container">
      <div class="row">
        {% for project in projects %}
        <div class="card text-center" style="width: 28rem;margin:4px 4px;">
          <h2>{{project.project_title}}</h2>
          <a href="{% url 'single_project' project.id %}"><img class="card-img-top" src="{{project.project.url}}" alt="Card image cap"></a>
          <div class="card-body">
            <h2>By {{ project.user.user.username }}</h2>
            <div style="display:flex;">
            <a href="{{ project.user.github }}" style="margin:0 4px;color:black"><i class="fa fa-github fa-2x"></i></a>
            <a href="{{ project.user.instagram }}" style="margin:0 4px;color:black"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="{{ project.user.linkedin }}" style="margin:0 4px;color:black"><i class="fa fa-linkedin fa-2x"></i></a>
          </div>
          <a href="{% url 'rate_project' project.id %}" class="btn btn-secondary"><i class="fa fa-star" aria-hidden="true"></i>Rate Project</a>
          </div>
        </div>
        
        {% endfor %}
        
      </div>
  </div>
  
{%endblock%}

{% block scripts %}
{{block.super}}
   <script type="text/javascript" src="{% static 'js/home.js'%}"></script>
{% endblock %}

