{%extends "app/base.html"%}
{% load bootstrap4 %}
{% load static %}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

    <h1 class="text-center">Quantify skill by the evidence</h1>
    <div class="container">
      <div class="row">
        {% for project in projects %}
        <div class="card mb-3">
          <img class="card-img-top" src="{{project.project.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{project.project_title}}</h5>
            <p class="card-text">{{ project.project_description }}</p>
            <a href="{{ project.site_link }}" >Live Site Link</a>
            <div class="col text-center">
              <form action="" method="POST" class="rate-form" id="{{ object.id }}">
                {% csrf_token %}
                <button type="submit" class="fa fa-star fa-3x"  id="first"></button>
                <button  type="submit" class="fa fa-star fa-3x" id="second"></button>
                <button  type="submit" class="fa fa-star fa-3x" id="third"></button>
                <button  type="submit" class="fa fa-star fa-3x" id="fourth"></button>
                <button  type="submit" class="fa fa-star fa-3x" id="fifth"></button>
              </form>
              <h3 id="confirm-box"></h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
{%endblock%}

{% block scripts %}
{{block.super}}
   <script type="text/javascript" src="{% static 'js/home.js'%}"></script>
{% endblock %}

